  html, body{
    height: 100%;
  }
  body{
    margin: 0px;
  }
  body{
    background-color: #ffffff;
  }
  h1{
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
  }
  h2{
    color: #FFFFFF;
    font-family: "Arial";
    text-align: center;
    background-color: #000000;
    padding: 4px 1px 4px 1px;
  }
  p{
    font-family: "Arial";
    text-align: justify;
  }

  b{
    color: #FF1493;
    font-family: serif;
    font-size: 20;
  }
  header{
    padding: 1px 1px 1px 1px;
    background-color: #000000;
    text-align: center;
  }
  nav:not(.inlineBlock){
    background-color: #000000;
    color: #ffffff;
  }
  nav{
    font-size: 20;
    padding: 1px 1px 7px 1px;
  } 
  footer{
    padding: 1px 1px 1px 1px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
  }
  .inlineBlock{
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 10px 10px 10px 10px;
  }
  .alignRight{
    text-align: right;
  }
