/*
colorPrimary: #8DADFF
colorPrimaryLight: #C1DFFF
colorPrimaryDark: #597ECB
colorSecondary: #FFAA85
colorSecondaryLight: #FFDCB5
colorSecondaryDark: #C97A58
*/

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
  color: #FFA6BA;
}

.title {
  margin-bottom: 45px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

.Subtitle {
  background-size: cover;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.Subtitle-1 {
  color: #000000;
  background-color: #C1DFFF;
  background-size: cover;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.Subtitle-2 {
  background-image: linear-gradient(#FFAA85, transparent);
}

.bg-1 {
  background-color: #597ECB;
  background-size: cover;
  color: #ffffff;
}

.bg-2 {
  background-color: #DDDDDD;
  color: #000000;
}

.bg-3 {
  background-color: #2f2f2f;
  color: #FFD9E1;
}

.bg-4 {
  background-color: #FFFFFF;
  color: #2f2f2f;
}

.userimg {
  width: 50px;
  height: 50px;
}

.btn-md {
  background-color: #FFFFFF;
  border-color: #A3A89F;
  width: 27%;
  height: 100%;
}

.btn-md:hover {
  background-color: #919191;
  border-color: #838780;
}

.container-fluid {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0;
  border-radius: 0;
  margin: 0;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: #FFDCB5 !important;
}
